<!DOCTYPE html>
<html lang="bg">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>КиберЗащита | Защита на данни</title>
        <link rel="stylesheet" href="../style/style.css">
        <link rel="icon" href="/images/cyber-security.png" type="image/x-icon">
    </head>
    <body>
        <div id="header-placeholder"></div>
        <nav id="nav-placeholder"></nav>
        <main>
            <h2>Защита на данните (Data Protection)</h2>
            <table>
                <thead>
                    <tr>
                        <th>Концепция</th>
                        <th>Описание</th>
                        <th>Правно/Техническо основание</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Минимизиране на данни</td>
                        <td>Събиране само на най-необходимата информация за конкретната цел.</td>
                        <td>Принцип на GDPR</td>
                    </tr>
                    <tr>
                        <td>Криптиране (Encryption)</td>
                        <td>Превръщане на данните в нечетлив код, който изисква ключ за разчитане.</td>
                        <td>Техническа защита</td>
                    </tr>
                    <tr>
                        <td>Право „да бъдеш забравен“</td>
                        <td>Потребителят може да изиска пълно изтриване на неговите лични данни.</td>
                        <td>Права на субекта (GDPR)</td>
                    </tr>
                    <tr>
                        <td>Анонимизация</td>
                        <td>Премахване на личните идентификатори от набор от данни.</td>
                        <td>Поверителност чрез дизайн</td>
                    </tr>
                </tbody>
            </table>
        </main>
        <a href="/views/contact.html" class="contact-button">
            <div id="footer-placeholder"></div>
        </a>
        <script src="../script.js"></script>
    </body>
</html>