<!DOCTYPE html>
<html lang="bg">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>КиберЗащита | Съвети</title>
        <link rel="stylesheet" href="style/style.css">
        <link rel="icon" href="images/cyber-security.png" type="image/x-icon">
    </head>
    <body>
        <div id="header-placeholder"></div>
        <nav id="nav-placeholder"></nav>
        <main>
            <h2>Практически съвети за безопасност</h2>
            <table>
                <thead>
                    <tr>
                        <th>Ситуация</th>
                        <th>Какво да направим?</th>
                        <th>Резултат</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Публичен Wi-Fi</td>
                        <td>Винаги използвайте VPN и изключете автоматичното свързване.</td>
                        <td>Шифрова вашия трафик и го скрива от хакери в мрежата.</td>
                    </tr>
                    <tr>
                        <td>Актуализации</td>
                        <td>Инсталирайте софтуерни ъпдейти веднага щом се появят.</td>
                        <td>Затваря "вратички" (бъгове), които хакерите използват за пробив.</td>
                    </tr>
                    <tr>
                        <td>Съмнителни линкове</td>
                        <td>Прилагайте "здравословна параноя" – проверявайте източника преди клик.</td>
                        <td>Предотвратява фишинг и заразяване с малуеър.</td>
                    </tr>
                    <tr>
                        <td>Социални мрежи</td>
                        <td>Не споделяйте лична информация (телефон, адрес, име на домашен любимец).</td>
                        <td>Затруднява хакерите при отгатване на тайни въпроси за сигурност.</td>
                    </tr>
                </tbody>
            </table>
        </main>
        <a href="views/contact.html" class="contact-button">
            <div id="footer-placeholder"></div>
        </a>
        <script src="../script.js"></script>
    </body>
</html>